

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #F0F0F0;
  text-align: center;
}

table {
  float: inherit;
  width: 400px;
  background-color: #ffffff ;
}
